In [72]:
from faker import Faker
import re
import random

fake = Faker()

def take_initial(s):
    initials = [i[0] for i in s.split()]
    while len(initials) < 2:
        initials.append(fake.random_uppercase_letter())
    return ''.join(initials).upper()

def wrap_single_quote(s):
    return "'" + s + "'"

In [73]:
school_num = 10
school_name = ['School of ' + fake.job().split()[0] + ''.join(fake.random_letters(length=3)) for i in range(school_num)]
school_email = [ take_initial(school_name[i]) + str(i) + '@nus.edu.sg' for i in range(school_num)]
school_address = [school_name[i] + ', ' + fake.address().replace('\n', '') for i in range(school_num)]
school_postal = [fake.postalcode() for i in range(school_num)]
school_tel = [fake.phone_number() for i in range(school_num)]

school_insert_sql = 'INSERT ALL\n'+ '\n'.join([ 'INTO school (id, name, email, address, postal, tel) VALUES ({},{},{},{},{},{})'.format(
    i+1,
    wrap_single_quote(school_name[i]),
    wrap_single_quote(school_email[i]),
    wrap_single_quote(school_address[i]),
    wrap_single_quote(school_postal[i]),
    wrap_single_quote(school_tel[i])) for i in range(school_num)]) + '\n SELECT * FROM dual;\n\n'

In [74]:
with open('insert_data.sql', 'w') as f:
    f.write(school_insert_sql)

In [75]:
academic_num = 10
academic_start_year = [str(2017-academic_num//2+i) for i in range(academic_num)]
academic_end_year = [str(2018-academic_num//2+i) for i in range(academic_num)]

academic_insert_sql = 'INSERT ALL\n' + '\n'.join(['INTO academic_year (id, start_year, end_year) VALUES ({},{},{})'.format(
    i+1,
    wrap_single_quote(academic_start_year[i]),
    wrap_single_quote(academic_end_year[i])) for i in range(academic_num)]) + '\n SELECT * FROM dual;\n\n'

with open('insert_data.sql', 'a') as f:
    f.write(academic_insert_sql)

In [76]:
semster_num = academic_num * 2
semster_start_end_dates = [('-08-01 00:00:00 +08:00','-12-31 00:00:00 +08:00'), ('-01-01 00:00:00 +08:00','-05-31 00:00:00 +08:00')]
semster = [i%2+1 for i in range(semster_num)]
semster_start_time = [str(2017-semster_num//4+(i+1)//2)+semster_start_end_dates[i%2][0] for i in range(semster_num)]
semster_end_time = [str(2017-semster_num//4+(i+1)//2)+semster_start_end_dates[i%2][1] for i in range(semster_num)]

semster_insert_sql = 'INSERT ALL\n' + '\n'.join(['INTO semester (id, semester, start_date, end_date, academic_year_id) VALUES({},{}, TIMESTAMP {},TIMESTAMP {},{})'.format(
    i+1,
    str(semster[i]),
    wrap_single_quote(semster_start_time[i]),
    wrap_single_quote(semster_end_time[i]),
    str(i//2+1)) for i in range(semster_num)]) + '\n SELECT * FROM dual;\n\n'


with open('insert_data.sql', 'a') as f:
    f.write(semster_insert_sql)

In [77]:
specialization_num = 2 * school_num
specialization_name = [re.sub(r'\W+', ' ', fake.job()) for i in range(specialization_num)]
specialization_index = [take_initial(name)[:2] for name in specialization_name]
specialization_school_id = [i%school_num+1 for i in range(specialization_num)]

specialization_insert_sql = 'INSERT ALL\n' + '\n'.join(['INTO specialization (id, name, idx, school_id) VALUES({},{},{},{})'.format(
    i+1,
    wrap_single_quote(specialization_name[i][:50]),
    wrap_single_quote(specialization_index[i]),
    str(specialization_school_id[i])) for i in range(specialization_num)]) + '\n SELECT * FROM dual;\n\n'


with open('insert_data.sql', 'a') as f:
    f.write(specialization_insert_sql)

In [78]:
admin_officer_num = 2 * school_num

admin_officer_id = [ fake.uuid4() for i in range(admin_officer_num)]
admin_officer_name = [ fake.name() for i in range(admin_officer_num)]
admin_officer_office_email = [ admin_officer_name[i].replace(" ", ".") + str(i) + '@nus.edu.sg' for i in range(admin_officer_num)]
admin_officer_office_address = [ fake.address().replace('\n', '') for i in range(admin_officer_num)]
admin_officer_office_postal = [ fake.postalcode() for i in range(admin_officer_num)]
admin_officer_office_tel = [ fake.phone_number() for i in range(admin_officer_num)]
admin_officer_school_id = [ i%school_num+1 for i in range(admin_officer_num)]

admin_officer_insert_sql = 'INSERT ALL\n' + '\n'.join(['INTO admin_officer (id, first_name, last_name, gender, email, office_address, office_postal, office_tel, school_id) VALUES({},{},{},{},{},{},{},{},{})'.format(
    wrap_single_quote(admin_officer_id[i]),
    wrap_single_quote(admin_officer_name[i].split(' ')[0]),
    wrap_single_quote(admin_officer_name[i].split(' ')[1]),
    wrap_single_quote(random.choice(['F', 'M'])),
    wrap_single_quote(admin_officer_office_email[i]),
    wrap_single_quote(admin_officer_office_address[i]),
    wrap_single_quote(admin_officer_office_postal[i]),
    wrap_single_quote(admin_officer_office_tel[i]),
    str(admin_officer_school_id[i])) for i in range(admin_officer_num)]) + '\n SELECT * FROM dual;\n\n'


with open('insert_data.sql', 'a') as f:
    f.write(admin_officer_insert_sql)

In [79]:
professor_num = 2 * school_num
professor_id = [ fake.uuid4() for i in range(professor_num)]
professor_name = [ fake.name() for i in range(professor_num)]
professor_office_email = [ professor_name[i].replace(" ", ".") + str(i) + '@nus.edu.sg' for i in range(professor_num)]
professor_office_address = [ fake.address().replace('\n', '') for i in range(professor_num)]
professor_office_postal = [ fake.postalcode() for i in range(professor_num)]
professor_office_tel = [ fake.phone_number() for i in range(professor_num)]
professor_school_id = [ i%school_num+1 for i in range(professor_num)]

professor_insert_sql = 'INSERT ALL\n' + '\n'.join(['INTO professor (id, first_name, last_name, gender, email, office_address, office_postal, office_tel, school_id) VALUES({},{},{},{},{},{},{},{},{})'.format(
    wrap_single_quote(professor_id[i]),
    wrap_single_quote(professor_name[i].split(' ')[0]),
    wrap_single_quote(professor_name[i].split(' ')[1]),
    wrap_single_quote(random.choice(['F', 'M'])),
    wrap_single_quote(professor_office_email[i]),
    wrap_single_quote(professor_office_address[i]),
    wrap_single_quote(professor_office_postal[i]),
    wrap_single_quote(professor_office_tel[i]),
    str(professor_school_id[i])) for i in range(professor_num)]) + '\n SELECT * FROM dual;\n\n'

with open('insert_data.sql', 'a') as f:
    f.write(professor_insert_sql)

In [80]:
student_num = 2 * specialization_num
student_id = [ fake.uuid4() for i in range(student_num)]
student_name = [ fake.name() for i in range(student_num)]
student_email = [ student_name[i].replace(" ", ".") + str(i) + '@nus.edu.sg' for i in range(student_num)]
student_address = [ fake.address().replace('\n', '') for i in range(student_num)]
student_postal = [ fake.postalcode() for i in range(student_num)]
student_tel = [ fake.phone_number() for i in range(student_num)]
student_specialization_id = [ i%specialization_num+1 for i in range(student_num)]

student_insert_sql = 'INSERT ALL\n' + '\n'.join(['INTO student (id, first_name, last_name, gender, matric_no, email, address, postal, tel, specialization_id) VALUES({},{},{},{},{},{},{},{},{},{})'.format(
    wrap_single_quote(student_id[i]),
    wrap_single_quote(student_name[i].split(' ')[0]),
    wrap_single_quote(student_name[i].split(' ')[1]),
    wrap_single_quote(random.choice(['F', 'M'])),
    wrap_single_quote('AW' + student_id[i][:18]),
    wrap_single_quote(student_email[i]),
    wrap_single_quote(student_address[i]),
    wrap_single_quote(student_postal[i]),
    wrap_single_quote(student_tel[i]),
    str(student_specialization_id[i])) for i in range(student_num)]) + '\n SELECT * FROM dual;\n\n'

with open('insert_data.sql', 'a') as f:
    f.write(student_insert_sql)

In [81]:
loan_num = student_num//5

loan_amount = [ random.randint(10000,50000) for i in range(loan_num)]
loan_start_date = [ fake.past_date().replace().strftime("%Y-%m-%d %H:%M:%S") + ' +08:00' for i in range(loan_num)]
loan_due_date = [ fake.future_date(end_date='+365d').strftime("%Y-%m-%d %H:%M:%S") + ' +08:00' for i in range(loan_num)]
loan_amount_paid = [ "{0:.2f}".format(random.random() * loan_amount[i]) for i in range(loan_num)]
loan_student_id = [ student_id[i*5] for i in range(loan_num)]

loan_insert_sql = 'INSERT ALL\n' + '\n'.join(['INTO loan (id, amount, start_date, due_date, paid_amount, student_id) VALUES({},{},TIMESTAMP {},TIMESTAMP {},{},{})'.format(
    i+1,
    str(loan_amount[i]),
    wrap_single_quote(loan_start_date[i]),
    wrap_single_quote(loan_due_date[i]),
    str(loan_amount_paid[i]),
    wrap_single_quote(loan_student_id[i])) for i in range(loan_num)]) + '\n SELECT * FROM dual;\n\n'

with open('insert_data.sql', 'a') as f:
    f.write(loan_insert_sql)

In [82]:
course_num = 2 * specialization_num
course_index = [ fake.random_number(digits=4) for i in range(course_num)]
course_name = [ fake.job()[:50] for i in range(course_num)]
course_description = [ fake.sentence() for i in range(course_num)]
course_specialization_id = [ i%specialization_num+1 for i in range(course_num)]

course_insert_sql = 'INSERT ALL\n' + '\n'.join(['INTO course (id, idx, name, description, specialization_id) VALUES({},{},{},{},{})'.format(
    i+1,
    str(course_index[i]),
    wrap_single_quote(course_name[i]),
    wrap_single_quote(course_description[i]),
    str(course_specialization_id[i])) for i in range(course_num)]) + '\n SELECT * FROM dual;\n\n'

with open('insert_data.sql', 'a') as f:
    f.write(course_insert_sql)

In [83]:
course_schedule_course_id = [ i%course_num+1 for i in range(course_schedule_num)] 
course_schedule_semster_id = [ i%semster_num+1 for i in range(course_schedule_num)]
course_schedule_professor_id = [ professor_id[i%professor_num] for i in range(course_schedule_num)]

course_schedule_insert_sql = 'INSERT ALL\n' + '\n'.join(['INTO course_schedule (id, course_id, semester_id, professor_id) VALUES({},{},{},{})'.format(
    i+1,
    str(course_schedule_course_id[i]),
    str(course_schedule_semster_id[i]),
    wrap_single_quote(course_schedule_professor_id[i])) for i in range(course_schedule_num)]) + '\n SELECT * FROM dual;\n\n'

with open('insert_data.sql', 'a') as f:
    f.write(course_schedule_insert_sql)

In [84]:
school_fee_num = student_num * 2
school_fee_student_id = [ student_id[i//2] for i in range(school_fee_num)]
school_fee_semster_id = [ i%semster_num+1 for i in range(school_fee_num)]
school_fee_school_fee = [ fake.random_number(digits=5) for i in range(school_fee_num)]
school_fee_school_fee_paid = [ "{0:.2f}".format(random.random()*school_fee_school_fee[i]) for i in range(school_fee_num)]

school_fee_insert_sql = 'INSERT ALL\n' + '\n'.join(['INTO school_fee(student_id,semester_id,school_fee,school_fee_paid) VALUES({},{},{},{})'.format(
    wrap_single_quote(school_fee_student_id[i]),
    str(school_fee_semster_id[i]),
    str(school_fee_school_fee[i]),
    str(school_fee_school_fee_paid[i])) for i in range(school_fee_num)]) + '\n SELECT * FROM dual;\n\n'

with open('insert_data.sql', 'a') as f:
    f.write(school_fee_insert_sql)

In [85]:
course_enrollment_num = student_num * 2

course_enrollment_student_id = [ student_id[i//2] for i in range(course_enrollment_num)]
course_enrollment_course_schedule_id = [ i%course_schedule_num+1 for i in range(course_enrollment_num)]
course_enrollment_grade = [ random.randint(1,100) for i in range(course_enrollment_num)]

course_enrollment_insert_sql = 'INSERT ALL\n' + '\n'.join(['INTO course_enrollment(student_id,course_schedule_id,grade) VALUES({},{},{})'.format(
    wrap_single_quote(school_fee_student_id[i]),
    str(course_enrollment_course_schedule_id[i]),
    str(course_enrollment_grade[i])) for i in range(school_fee_num)]) + '\n SELECT * FROM dual;\n\n'

with open('insert_data.sql', 'a') as f:
    f.write(course_enrollment_insert_sql)